# Django
*.pyc
__pycache__/
media/
staticfiles/

# Security/Environment
.env

# Virtual Environments
env/
venv/
.env/
.venv/

# macOS
.DS_Store

# IDEs / Text Editors
.vscode/
.idea/
*.swp

# Logs
*.log
